.page-header {


    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 15px;
    border-bottom: 1px solid #e1e1e1;
    
}

.page-header h1 {
    font-weight: 400;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(89, 98, 102);
}