.error-page {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
}

.error-page h1, .error-page p {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}