.nav-top {
    height: 50px;
    padding: 0 20px;
    background-color: white;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 15px;
    width: 250px;
    height: 30px;
    border: 1px solid #dedede;
    border-radius: 20px;
}

.search-container input {
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0.5;
    font-size: 14px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.search-container form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.search-container img {
    width: 20px;
    height: 20px;
    opacity: 0.15;
}

.search-container img:hover {
    cursor: pointer;
    opacity: 0.20;
}