
.top-text {
    color: #7c47cd;
}

.neg-text {
    color: #cc0000;
}

.pos-text {
    color: #1ab81a;
}


.saved {
    background-color: #54239c;
    border-bottom: 2px solid #461a86;
}

.saved:hover {
    background-color: #6c34c0;
    cursor: pointer;
}
