.logo {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7c47cd;
    border-right: 1px solid #9f78da;
    border-bottom: 1px solid #6533b2;
}

.logo p {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    margin: 0;
    padding: 0;
}

.nav-content {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: white;
}

.user {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-bottom:1px solid #3c3a43;
}

.user p {
    padding: 0 10px 0 15px;
    font-size: 14px;
    color: #f1f1f1;
}


.user:hover {
    background-color: #484f53;
    cursor: pointer;
}

#img-profile {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#img-arrow {
    width: 20px;
    height: 20px;
}

a {
    text-decoration: none;
}

.menu-item {
    height: 50px;
    padding-left:15px;
    border-bottom:1px solid #3c3a43;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #484f53;
}

.menu-icon {
    width: 18px;
    height: 18px;
    opacity: 0.5;
}

.menu-label {
    font-family:"Montserrat", Arial, Helvetica, sans-serif;
    color: #e9e9e9;
    font-size: 14px;
    padding-left: 5px;
    opacity: 0.5;

}

.menu-active {
    padding-left: 5px;
    border-left: 5px solid #7c47cd;
    background-color: #2a3135;
}

.menu-active:hover {
    cursor: auto;
    background-color: #2a3135;
}